<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>slimframework</string>
	<key>CFBundleName</key>
	<string>Slim Framework</string>
	<key>DocSetPlatformFamily</key>
	<string>slimframework</string>
	<key>DashDocSetFamily</key>
	<string>dashtoc</string>
	<key>dashIndexFilePath</key>
	<string>www.slimframework.com/docs/index.html</string>
	<key>isDashDocset</key>
	<true/>
</dict>
</plist>
